*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(./Resurse/pexels-tim-mossholder-1764702.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #f8f7ff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, .2);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .1);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    padding: 20px 45px 20px 20px;
    font-weight: 600;
}

.inputBox input::placeholder{
    color: #f8f7ff;
}

.inputBox i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .btnLogin{
    width: 100%;
    height: 45px;
    background: #f8f7ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
}

.container .btnLogin:hover{
    background: rgba(0, 0, 0, .3);
    color: #f8f7ff;
}